<ul>
	<li>First Name: <%= @profile_details.values[0][0] %></li>
	<li>Last Name: <%= @profile_details.values[0][1] %></li>
	<li>Age: <%= @profile_details.values[0][2] %></li>
	<li>Sex: <%= @profile_details.values[0][3] %></li>
	<img src="<%= @profile_details.values[0][4] %>" />
	<li>Twitter: <%= @profile_details.values[0][5] %></li>
	<li>Github: <%= @profile_details.values[0][6] %></li>
	<li>Facebook: <%= @profile_details.values[0][7] %></li>
</ul>